<html>
<head>
    <title>$i18n.getText("clickhouse-exporter.admin.label")</title>
    <meta name="decorator" content="atl.admin" />
    $webResourceManager.requireResource("ru.sbrf.jira.clickhouse-exporter:clickhouse-exporter-resources")
</head>
<body>
<form id="admin" class="aui">
    <div class="field-group">
        <label for="jdbc_url">$i18n.getText("clickhouse-exporter.admin.jdbc_url.label")</label>
        <input type="text" id="jdbc_url" name="jdbc_url" class="text">
    </div>
    <div class="field-group">
        <label for="project_code">$i18n.getText("clickhouse-exporter.admin.project_code.label")</label>
        <input type="text" id="project_code" name="project_code" class="text">
    </div>
    <div class="field-group">
        <input type="submit" value="$i18n.getText("clickhouse-exporter.admin.save.label")" class="button">
    </div>
</form>
</body>
</html>